<!DOCTYPE html>
<html>
    <head>
        <script src="lib/angular.min.js"></script>
        <script src="lib/angular-ui-router.min.js"></script>
        <script src="js/app.js"></script>
        <script src="controllers/informationController.js"></script>
        <script src="services/ajaxServices.js"></script>
        <script src="services/dataService.js"></script>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <title>Data</title>
    </head>
    <body ng-app="app">
        <div ui-view></div>
    </body>
</html>